#divStyle {
    background-color: #be252a;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left !important;
}

.chat {
    position: top;
    float: right;
    color: red;
    background-color: blue;
}

.border {
    border-radius: 30%;
}
.profileColor{
    color:  #be252a;
}
.bottomStyle {
    font-size: 15px !important;
    font-weight: bold;
}

.bottomStyle1 {
    font-size: 15px !important;
    font-weight: bold;
    margin-left: 20px;
}

.margin1 {
    float: left;
    color: teal;
}

.margin {
    float: right;
    color: teal;
}

.checkmark {
    margin-left: -20px;
}

.buttonColor {
    color: "#01541e";
}

#space {
    margin-left: 30px;
    padding-right: 10px;
}

#textsize {
    font-family: Georgia, serif;
    font-size: 16px;
}

#textheader {
    font-family: Georgia, serif;
    font-size: 19px;
}

.clr {
    padding-left: 10px;
    color: blue !important;
}

.spacing {
    margin-top: 9px;
    margin-left: 4px;
    margin-right: 4px;
}

.imgsize {
    height: 150px;
    width: 500px;
}

.favimgsize {
    height: 60px;
    width: 60px;
}

.logosize {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    float: left;
}

#footer {
    font-size: 15px;
    font-family: Georgia, serif;
}

.spaceimg {
    margin-top: 20px;
}

.iconSpace {
    padding-left: 10px;
    margin-right: 10px;
}

.space1 {
    margin-left: 20px !important;
}

.search {
    padding-left: 50px;
    width: 600px !important;
}

.item {
    z-index: 10;
}

.arrowsize {
    height: 40px;
    width: 40px;
    margin-top: 20px;
}
