.butstyle{
  background-color: #B2242E !important;
  color: white !important;
}
.chatcard {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #B2242E;
}

.chatcardhuman {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 600px;
  color: green;
}

.chatinput {
  margin-top: 10px;
}
